<ion-view view-title="CREDITS" hide-back-button="false" class="bgClass">

  <!--<ion-nav-buttons side="primary">
    <button class="button button-large" ng-hide="" ng-click="checkTheMeal()">Check The Meal</button>
  </ion-nav-buttons>-->

  <!-- <ion-header-bar class="bar bar-subheader">
     &lt;!&ndash;<label class="SearchForm">
       <input class="SearchForm" type="search" placeholder="Ingredients" ng-model="searchIngr">
     </label>&ndash;&gt;

   </ion-header-bar>-->

  <ion-content class="mainbody ">
<div class="ingrdBack credits">
  <h2 class="creditHeading">Special Thanks To</h2>
      <div class="padding creditsIndiv"><i class="icon ion-ios-world"></i> Saylani Welfare International Trust</div>
  <h2 class="creditHeading">Idea & Concept</h2>
      <div class="padding creditsIndiv"><i class="icon ion-woman"></i> Rabia Nawaz</div>
  <h2 class="creditHeading">Developer</h2>
      <div class="padding creditsIndiv"><i class="icon ion-monitor"></i> Hailee Tech</div>
      <div class="padding creditsIndiv"><i class="icon ion-person"></i> Haider Ali Shah</div>

      <div class="padding creditsIndiv"><i class="icon ion-android-phone-portrait"></i> +92 341 3542800</div>
      <div class="padding creditsIndiv"><i class="icon ion-email"></i> headeralishah@gmail.com</div>

      <div class="padding creditsIndiv"><i class="icon ion-social-facebook"></i> haidervolunteer</div>
      <div class="padding creditsIndiv"><i class="icon ion-social-twitter"></i> haidervolunteer</div>

      <!-- <h5 style="text-align: center; line-height: 0.14em;">Special Thanks To</h5>
       <p class="padding">Saylani Welfare International Trust</p>-->
</div>
  </ion-content>

</ion-view>

