<ion-popover-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Credits</h1>
  </ion-header-bar><br>
  <ion-content class="padding mainbody">
    <div class="padding"><i class="icon ion-ios-world"></i> Saylani Welfare International Trust</div>
    <div class="padding"><i class="icon ion-monitor"></i> Hailee Tech</div>
    <div class="padding"><i class="icon ion-person"></i> Haider Ali Shah</div>

    <div class="padding"><i class="icon ion-android-phone-portrait"></i> +92 341 3542800</div>
    <div class="padding"><i class="icon ion-email"></i> headeralishah@gmail.com</div>

    <div class="padding"><i class="icon ion-social-facebook"></i> haidervolunteer</div>
    <div class="padding"><i class="icon ion-social-twitter"></i> haidervolunteer</div>

    <!-- <h5 style="text-align: center; line-height: 0.14em;">Special Thanks To</h5>
     <p class="padding">Saylani Welfare International Trust</p>-->

  </ion-content>
</ion-popover-view>
