
<ion-view hide-nav-bar="true">


  <ion-content class="bgClass">

    <div class="ButtonDivForHome verAlign">
    <button class="button button-clear button-positive buttonForHome" ng-click="moveToCooking()"><!-- ui-sref="tabs.cookByRecip"-->
     Start Cooking
    </button><br>


      <button class="button button-clear button-positive buttonForHome" ng-click="moveToConcept()">
        Concept
      </button><br>

    <button class="button button-clear button-positive buttonForHome" ng-click="moveToCredits()">
    Credentials
    </button><br>

      <button class="button button-clear button-positive buttonForHome" ng-click="moveToResources()">
        Resources
      </button><br>
    </div>

  </ion-content>

</ion-view>


